
.card-img{
  background-color: white;
  width: 100%;
  height: 85%;
  border-radius: 50%;

}
input[type="checkbox"]{
  margin-right: 9%;
}
input[type="checkbox"]+label{
  color: red;
}
input[type="checkbox"]:checked+label {
    color: green;
    font-style:italic
}
.addres{
  color: rgb(172, 172, 172);
}
